<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mi Primera Web</title>
	<link rel="stylesheet" href="../styles/style.css">
</head>
<body>
	<main>
		<header>
			<h1>Sobre mis Hobbies</h1>
		</header>
		<nav>
			<a href="../index.html">Quien Soy</a>
			<a href="hobbies.html">Qué me gusta hacer</a>
			<a href="familia.html">Mi familia</a>
		</nav>
		<section>
			<h2>Estos son mis Hobbies</h2>
			<p id="Bienvenida">Este espacio es para hablar de mis hobbies: me gusta ver peliculas, observar el amanecer y atardecer, montar bicicleta, nadar es mi deporte favorito, escuchar musica y visitar pueblitos.</p>
			<div class="container"><img src="../assets/images/hobbies.jpeg" alt="quien soy"></div>
		</section>
		<footer>
			<p >Página realizada por Paula M. Garcia V. &copy;Todos los derechos reservados 2024</p>
		</footer>
	</main>
</body>
</html>